<h2 align="center">
  List of all articles
</h2>

<table border="solid 1px">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Creation information</th>
      
    </tr>
  </thead>
          
  <tbody>
    <% obj.each do |article| %>    
      <div align="center">
        <div class="row">
    
           <tr>
              <td><%= link_to article.title , article_path(article) %></td>
              <td><%= article.description %></td>
              <td><small>Created by <%= article.user.username if article.user%>,
                <%= time_ago_in_words(article.created_at) %> ago,
                last update: <%= time_ago_in_words(article.updated_at) %> ago </small>
              </td>
             <% if logged_in? && (current_user == article.user || current_user.admin?) %>
                <td><%= link_to 'Edit this article', edit_article_path(article), class: "btn btn-xs btn-primary" %></td>
                <td><%= link_to 'Delete this article', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
             <% end %>
           </tr>
          </div>
        </div>
     
    <% end %>
  </tbody>
</table>

